[Unit]
Description=Aalto 2022 backend service
Wants=network-online.target
After=network-online.target

[Service]
Environment="ENVIRONMENT=openai"
Environment="PROXYURL=http://localhost:8080"
Environment="NODE_ENV=production"
EnvironmentFile=/etc/db_env

Type=simple
User={{ user_name }}
Group={{ user_name }}
WorkingDirectory={{ live_dir }}
ExecStart=bash -c ". ~/.nvm/nvm.sh && node index.js"
Restart=on-failure

[Install]
WantedBy=multi-user.target
