[Unit]
Description=Aalto 2022 backend service
Wants=network-online.target
After=network-online.target

[Service]
Environment="ENVIRONMENT=openai"
Environment="PROXYURL=127.0.0.1:8080"

Type=simple
User={{ user_name }}
Group={{ user_name }}
WorkingDirectory={{ live_dir }}
ExecStart=bash -c ". ~/.nvm/nvm.sh && node index.js"
Restart=on-failure

[Install]
WantedBy=multi-user.target
